In [10]:
import pandas as pd

In [28]:

df = pd.DataFrame({'employe name':['sudhan','mohan','shalini','subash','jeeva'],
                   'identity':[123,345,234,567,145],
                   'salary':[30000,20000,18000,25000,10000]})

In [16]:
print(df)

  employe name  identity  salary
0       sudhan       123   30000
1        mohan       345   20000
2      shalini       234   18000
3       subash       567   25000
4        jeeva       145   10000

In [53]:
import pandas as pd 

import numpy as np 

dict1 ={'Driver':['Hamilton', 'Vettel', 'sudhan', 

                  'hari', 'Bottas', 'Ricciardo', 

                  'harry', 'Perez',], 

                    

        'id':[408, 320, 251, 249, 247, 170, 69, 62,], 

                     

        'salary':[33000, 3100, 39000, 21000, 29000, 20009, 31000, 28000, ]} 

                        
 

df = pd.DataFrame(dict1)
print(df[df.salary == df.salary.max()])

   Driver   id  salary
2  sudhan  251   39000

In [54]:
import pandas as pd 

import numpy as np 

dict1 ={'Driver':['Hamilton', 'Vettel', 'sudhan', 

                  'hari', 'Bottas', 'Ricciardo', 

                  'harry', 'Perez',], 

                    

        'id':[408, 320, 251, 249, 247, 170, 69, 62,], 

                     

        'salary':[33000, 3100, 39000, 21000, 29000, 20009, 31000, 28000, ]} 

                        
 

df = pd.DataFrame(dict1)
print(df[df.salary == df.salary.min()])

   Driver   id  salary
1  Vettel  320    3100

In [62]:
import pandas as pd 

import numpy as np 

dict1 ={'employee':['Hamilton', 'Vettel', 'sudhan', 

                  'hari', 'Bottas', 'Ricciardo', 

                  'harry', 'Perez',], 

                    

        'id':[408, 320, 251, 249, 247, 170, 69, 62,], 

                     

        'salary':[33000, 3100, 39000, 21000, 29000, 20009, 31000, 28000, ]} 

                        
 

df = pd.DataFrame(dict1)
print(df[df.employee == df.employee.count()])

Empty DataFrame
Columns: [employee, id, salary]
Index: []

In [83]:
import pandas as pd 

import numpy as np 

dict1 ={'employee':['Hamilton', 'Vettel', 'sudhan', 

                  'hari', 'Bottas', 'Ricciardo', 

                  'harry', 'Perez',], 

                    

        'id':[408, 320, 251, 249, 247, 170, 69, 62,], 

                     

        'salary':[33000, 3100, 39000, 21000, 29000, 20009, 31000, 28000, ]} 

                        
 

df = pd.DataFrame(dict1)
print(df[df.employee == df.employee])

    employee   id  salary
0   Hamilton  408   33000
1     Vettel  320    3100
2     sudhan  251   39000
3       hari  249   21000
4     Bottas  247   29000
5  Ricciardo  170   20009
6      harry   69   31000
7      Perez   62   28000