In [19]:
capital={"tamilnadu":"chennai","bihar":"patna","karnataka":"bengaluru"}
print(f'before merge two dictionaries',capital )
capital["goa"]="panaji"
capital["telangana"]="hyderabad"
print(f'after merge two dictionaries:',capital)

before merge two dictionaries {'tamilnadu': 'chennai', 'bihar': 'patna', 'karnataka': 'bengaluru'}
after merge two dictionaries: {'tamilnadu': 'chennai', 'bihar': 'patna', 'karnataka': 'bengaluru', 'goa': 'panaji', 'telangana': 'hyderabad'}

In [17]:
capital={"tamilnadu":"chennai","bihar":"patna","karnataka":"bengaluru"}
del capital ["karnataka"]
print(f'After removing key from dicitionary:',capital)

After removing key from dicitionary: {'tamilnadu': 'chennai', 'bihar': 'patna'}

In [41]:
Keys = {'sudhan','nelson','natasha','peter'}
value ={'suman','harry'}
Keys.update(value)
print(Keys)

{'sudhan', 'peter', 'natasha', 'nelson', 'suman', 'harry'}

In [39]:
my_set=set(['hi','hello',3,5])
len(my_set)

4

In [137]:
csk1 = {"dhoni","bravo","jedeja"}
csk2 = {"raina","sam"}
csk1.update(csk2)
print("orginal set:",csk1)
csk1 = {"dhoni","bravo","jedeja"}
csk2 = {"raina","sam"}
csk1.discard(csk2)
print("remove intersection of 2nd",csk1)

orginal set: {'dhoni', 'bravo', 'jedeja', 'raina', 'sam'}
remove intersection of 2nd {'dhoni', 'jedeja', 'bravo'}